body {
    font-family: Arial, sans-serif;
    background-color: #f2f87e;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f87e;
    color: #dd1d9a;
    padding: 1em;
    text-align: center;
    font-size: 0.7em;
} 

h1{
    font-size: 5em;
}

section {
    max-width: 1500px;
    margin: 0% auto;
    padding: 170px;
    background-color: rgb(41, 118, 185);
    color: #f5fb81;
    font-size: 1.8em;
    border-radius: 0px;
    box-shadow: 0 0 1000px #FFFFC2;
}